NiFi_Template_For_George.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>0cef15ca-0169-1000-0b31-46a2546482ca</groupId>
    <name>NiFi Template For George</name>
    <snippet>
        <controllerServices>
            <id>01263c6d-3c11-35eb-0000-000000000000</id>
            <parentGroupId>36ab0980-6502-3b14-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>2a5a299b-6abe-3846-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>2a5a299b-6abe-3846-0000-000000000000</id>
            <parentGroupId>36ab0980-6502-3b14-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>estimote</key>
                    <value>
                        <name>estimote</name>
                    </value>
                </entry>
                <entry>
                    <key>garden</key>
                    <value>
                        <name>garden</name>
                    </value>
                </entry>
                <entry>
                    <key>gluon</key>
                    <value>
                        <name>gluon</name>
                    </value>
                </entry>
                <entry>
                    <key>hoagie</key>
                    <value>
                        <name>hoagie</name>
                    </value>
                </entry>
                <entry>
                    <key>jobstatus</key>
                    <value>
                        <name>jobstatus</name>
                    </value>
                </entry>
                <entry>
                    <key>minifitensorflow2</key>
                    <value>
                        <name>minifitensorflow2</name>
                    </value>
                </entry>
                <entry>
                    <key>movidiussense</key>
                    <value>
                        <name>movidiussense</name>
                    </value>
                </entry>
                <entry>
                    <key>PDF</key>
                    <value>
                        <name>PDF</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>estimote</key>
                    <value>{ "type" : "record", "name" : "estimote", "fields" : [ 
{ "name": "estimoteid", "type": ["string","null"], "default": "NA" }, 
{ "name" : "battery", "type" : "int" }, 
{ "name" : "id", "type" : ["string","null"] }, 
{ "name" : "magnetic_fieldz", "type" : "double", "doc" : "Type inferred from '-0.1484375'" }, 
{ "name" : "magnetic_fieldx", "type" : "double", "doc" : "Type inferred from '-0.3125'" }, 
{ "name" : "magnetic_fieldy", "type" : "double", "doc" : "Type inferred from '0.515625'" }, 
{ "name" : "end", "type" : "string", "doc" : "Type inferred from '\"1547679071.5\"'" }, 
{ "name" : "temperature", "type" : "double", "doc" : "Type inferred from '25.5'" }, 
{ "name" : "cputemp1", "type" : "double", "doc" : "Type inferred from '38.0'" }, 
{ "name" : "memory", "type" : "double", "doc" : "Type inferred from '26.1'" }, 
{ "name" : "protocol_version", "type" : "int", "doc" : "Type inferred from '2'" }, 
{ "name" : "current_motion", "type" : "int", "doc" : "Type inferred from '420'" }, 
{ "name" : "te", "type" : "string", "doc" : "Type inferred from '\"0.362270116806\"'" }, { "name" : "systemtime", "type" : "string", "doc" : "Type inferred from '\"01/16/2019 17:51:11\"'" }, { "name" : "cputemp", "type" : "double", "doc" : "Type inferred from '39.0'" }, { "name" : "uptime", "type" : "int", "doc" : "Type inferred from '4870800'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"Laptop\"'" }, { "name" : "diskusage", "type" : "string", "doc" : "Type inferred from '\"418487.1\"'" }, { "name" : "ipaddress", "type" : "string", "doc" : "Type inferred from '\"192.168.1.241\"'" }, { "name" : "uuid", "type" : "string", "doc" : "Type inferred from '\"20190116225111_2cbbac13-fed0-4d81-a24a-3aa593b5f674\"'" }, { "name" : "is_moving", "type" : "boolean", "doc" : "Type inferred from 'false'" }, { "name" : "accelerationy", "type" : "double", "doc" : "Type inferred from '0.015748031496062992'" }, { "name" : "accelerationx", "type" : "double", "doc" : "Type inferred from '0.0'" }, { "name" : "accelerationz", "type" : "double", "doc" : "Type inferred from '1.0236220472440944'" }, { "name" : "starttime", "type" : "string", "doc" : "Type inferred from '\"01/16/2019 17:51:11\"'" }, { "name" : "rssi", "type" : "int", "doc" : "Type inferred from '-60'" }, { "name" : "bt_addr", "type" : "string", "doc" : "Type inferred from '\"fa:e2:20:6e:d4:a5\"'" } ] }
</value>
                </entry>
                <entry>
                    <key>garden</key>
                    <value>{ "type" : "record", "name" : "garden", "fields" : [ { "name" : "uuid", "type" : "string", "doc" : "Type inferred from '\"20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb\"'" }, { "name" : "BH1745_red", "type" : "string", "doc" : "Type inferred from '\"35.2\"'" }, { "name" : "ipaddress", "type" : "string", "doc" : "Type inferred from '\"192.168.1.166\"'" }, { "name" : "BH1745_clear", "type" : "string", "doc" : "Type inferred from '\"30.0\"'" }, { "name" : "bme680_tempc", "type" : "string", "doc" : "Type inferred from '\"24.93\"'" }, { "name" : "bme680_humidity", "type" : "string", "doc" : "Type inferred from '\"22.751\"'" }, { "name" : "memory", "type" : "double", "doc" : "Type inferred from '42.9'" }, { "name" : "end", "type" : "string", "doc" : "Type inferred from '\"1550013229.6661472\"'" }, { "name" : "bme680_tempf", "type" : "string", "doc" : "Type inferred from '\"76.87\"'" }, { "name" : "bme680_pressure", "type" : "string", "doc" : "Type inferred from '\"1009.29\"'" }, { "name" : "systemtime", "type" : "string", "doc" : "Type inferred from '\"02/12/2019 18:13:49\"'" }, { "name" : "lsm303d_magnetometer", "type" : "string", "doc" : "Type inferred from '\"+00.02 : +00.45 : -00.12\"'" }, { "name" : "VL53L1X_distance_in_mm", "type" : "int", "doc" : "Type inferred from '680'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"piups\"'" }, { "name" : "cputemp", "type" : "int", "doc" : "Type inferred from '45'" }, { "name" : "BH1745_blue", "type" : "string", "doc" : "Type inferred from '\"12.6\"'" }, { "name" : "starttime", "type" : "string", "doc" : "Type inferred from '\"02/12/2019 18:08:07\"'" }, { "name" : "ltr559_prox", "type" : "string", "doc" : "Type inferred from '\"0000\"'" }, { "name" : "ltr559_lux", "type" : "string", "doc" : "Type inferred from '\"005.93\"'" }, { "name" : "imgnamep", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/bog_image_p_20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb.jpg\"'" }, { "name" : "te", "type" : "string", "doc" : "Type inferred from '\"342.5885555744171\"'" }, { "name" : "diskusage", "type" : "string", "doc" : "Type inferred from '\"9625.3\"'" }, { "name" : "lsm303d_accelerometer", "type" : "string", "doc" : "Type inferred from '\"+00.08g : -01.01g : +00.09g\"'" }, { "name" : "BH1745_green", "type" : "string", "doc" : "Type inferred from '\"25.0\"'" }, { "name" : "imgname", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/bog_image_20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb.jpg\"'" } ] }</value>
                </entry>
                <entry>
                    <key>gluon</key>
                    <value>{ "type" : "record", "name" : "gluon", "fields" : [ 
{ "name" : "class1", "type" : ["string","null"] }, 
{ "name" : "cpu", "type" :  ["double","null"] }, 
{ "name" : "end", "type" :  ["string","null"]}, 
{ "name" : "host", "type" :  ["string","null"]}, 
{ "name" : "memory", "type" :  ["double","null"]}, 
{ "name" : "pct1", "type" :  ["string","null"] }, 
{ "name" : "shape", "type" :  ["string","null"] }, 
{ "name" : "systemtime", "type" :  ["string","null"] }, 
{ "name" : "te", "type" :  ["string","null"] } ] }</value>
                </entry>
                <entry>
                    <key>hoagie</key>
                    <value>{ "type" : "record", "name" : "hoagie", "fields" : [ { "name" : "mongo_id", "type" : "string", "doc" : "Type inferred from '\"5c5b55375b6fe482582220a0\"'" }, { "name" : "id", "type" : "int", "doc" : "Type inferred from '528'" }, { "name" : "first_name", "type" : "string", "doc" : "Type inferred from '\"Anatollo\"'" }, { "name" : "last_name", "type" : "string", "doc" : "Type inferred from '\"Coombs\"'" }, { "name" : "email", "type" : "string", "doc" : "Type inferred from '\"acoombsen@dmoz.org\"'" }, { "name" : "gender", "type" : "string", "doc" : "Type inferred from '\"Male\"'" }, { "name" : "ip_address", "type" : "string", "doc" : "Type inferred from '\"29.211.50.89\"'" }, { "name" : "primary_topping", "type" : "string", "doc" : "Type inferred from '\"Liqueur Banana, Ramazzotti\"'" }, { "name" : "user_agent", "type" : "string", "doc" : "Type inferred from '\"Mozilla/5.0 (Windows NT 6.1; WOW64; rv:21.0) Gecko/20100101 Firefox/21.0\"'" }, { "name" : "mac_address", "type" : "string", "doc" : "Type inferred from '\"F4-AD-A6-BE-2B-92\"'" }, { "name" : "order_frequency", "type" : "string", "doc" : "Type inferred from '\"Seldom\"'" }, { "name" : "order_date", "type" : "string", "doc" : "Type inferred from '\"03/06/2018\"'" }, { "name" : "credit_card_type", "type" : "string", "doc" : "Type inferred from '\"visa-electron\"'" }, { "name" : "city", "type" : "string", "doc" : "Type inferred from '\"Lake Worth\"'" }, { "name" : "state", "type" : "string", "doc" : "Type inferred from '\"FL\"'" }, { "name" : "lat", "type" : "string", "doc" : "Type inferred from '\"26.5747\"'" }, { "name" : "long", "type" : "string", "doc" : "Type inferred from '\"-80.0794\"'" }, { "name" : "zipcode", "type" : "string", "doc" : "Type inferred from '\"33462\"'" }, { "name" : "street_number", "type" : "string", "doc" : "Type inferred from '\"503\"'" }, { "name" : "street_name", "type" : "string", "doc" : "Type inferred from '\"Summerview\"'" }, { "name" : "guid", "type" : "string", "doc" : "Type inferred from '\"1b71d73b-2dee-4e4f-aeed-bd8ba6260360\"'" } ] }</value>
                </entry>
                <entry>
                    <key>jobstatus</key>
                    <value>{  
   "type":"record",
   "name":"jobstatus",
   "fields":[  
      {  
         "name":"id",
         "type":["int","null"]
      },
      {  
         "name":"name",
         "type":["string","null"]
      },
      {  
         "name":"script",
         "type":["string","null"]
      },
      {  
         "name":"cpu",
         "type":["int","null"]
      },
      {  
         "name":"memory",
         "type":["int","null"]
      },
      {  
         "name":"nvidia_gpu",
         "type":["int","null"]
      },
      {  
         "name":"engine_image_id",
         "type":["int","null"]
      },
      {  
         "name":"kernel",
         "type":["string","null"]
      },
      {  
         "name":"englishSchedule",
         "type":["string","null"]
      },
      {  
         "name":"timezone",
         "type":["string","null"]
      },
      {  
         "name":"total_runs",
         "type":["int","null"]
      },
      {  
         "name":"total_failures",
         "type":["int","null"],
         "doc":"Type inferred from '0'"
      },
      {  
         "name":"paused",
         "type":["boolean","null"],
         "doc":"Type inferred from 'false'"
      },
      {  
         "name":"type",
         "type":["string","null"],
         "doc":"Type inferred from '\"manual\"'"
      },
      {  
         "name":"creator_id",
         "type":["int","null"],
         "doc":"Type inferred from '19'"
      },
      {  
         "name":"creator_username",
         "type":["string","null"]
      },
      {  
         "name":"creator_name",
         "type":["string","null"]
      },
      {  
         "name":"creator_email",
         "type":["string","null"]
      },
      {  
         "name":"creator_url",
         "type":["string","null"]
      },
      {  
         "name":"creator_html_url",
         "type":["string","null"]
      },
      {  
         "name":"project_id",
         "type":["int","null"]
      },
      {  
         "name":"project_slug",
         "type":["string","null"]
      },
      {  
         "name":"project_name",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_id",
         "type":["int","null"]
      },
      {  
         "name":"project_owner_username",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_email",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_name",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_url",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_html_url",
         "type":["string","null"]
      },
      {  
         "name":"project_url",
         "type":["string","null"]
               },
      {  
         "name":"project_html_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_id",
         "type":["string","null"]
      },
      {  
         "name":"latest_batch",
         "type":["boolean","null"]
      },
      {  
         "name":"latest_job_id",
         "type":["int","null"]
      },
      {  
         "name":"latest_status",
         "type":["string","null"]
      },
      {  
         "name":"latest_oomKilled",
         "type":["boolean","null"]
      },
      {  
         "name":"latest_created_at",
         "type":["string","null"]
      },
      {  
         "name":"latest_scheduling_at",
         "type":["string","null"]
      },
      {  
         "name":"latest_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_html_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_shared_view_visibility",
         "type":["string","null"]
      },
      {  
         "name":"report_include_logs",
         "type":["boolean","null"]
      },
      {  
         "name":"report_send_from_creator",
         "type":["boolean","null"]
      },
      {  
         "name":"timeout",
         "type":["int","null"]
      },
      {  
         "name":"timeout_kill",
         "type":["boolean","null"]
      },
      {  
         "name":"created_at",
         "type":["string","null"]
      },
      {  
         "name":"updated_at",
         "type":["string","null"]
      },
      {  
         "name":"shared_view_visibility",
         "type":["string","null"]
      },
      {  
         "name":"url",
         "type":["string","null"]
      },
      {  
         "name":"html_url",
         "type":["string","null"]
      },
      {  
         "name":"engine_id",
         "type":["string","null"]
      }
   ]
}</value>
                </entry>
                <entry>
                    <key>minifitensorflow2</key>
                    <value>{ "type" : "record", "name" : "minifitensorflow2", "fields" : [ { "name" : "image", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/2018-03-29_1152.jpg\"'" }, { "name" : "ts", "type" : "string", "doc" : "Type inferred from '\"2018-03-29 15:52:57\"'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"sensehatmovidius\"'" }, { "name" : "score", "type" : "string", "doc" : "Type inferred from '\"0.00402512\"'" }, { "name" : "human_string", "type" : "string", "doc" : "Type inferred from '\"cinema, movie theater, movie theatre, movie house, picture palace\"'" }, { "name" : "node_id", "type" : "int", "doc" : "Type inferred from '695'" } ] }</value>
                </entry>
                <entry>
                    <key>movidiussense</key>
                    <value>{
 "type": "record",
 "name": "movidiussense",
 "fields": [
  {
   "name": "cputemp2",
   "type": ["double","null"]
  },
  {
   "name": "pitch",
   "type": ["double","null"]
  },
  {
   "name": "label5",
   "type": ["string","null"]
  },
  {
   "name": "starttime",
   "type": ["string","null"]
  },
  {
   "name": "label2",
   "type": ["string","null"]
  },
  {
   "name": "y",
   "type": ["double","null"]
  },
  {
   "name": "currenttime",
   "type": ["string","null"]
  },
  {
   "name": "x",
   "type": ["double","null"]
  },
  {
   "name": "label4",
   "type": ["string","null"]
  },
  {
   "name": "roll",
   "type": ["double","null"]
  },
  {
   "name": "temp",
   "type": ["double","null"]
  },
  {
   "name": "host",
   "type": ["string","null"]
  },
  {
   "name": "diskfree",
   "type": ["string","null"]
  },
  {
   "name": "memory",
   "type": ["double","null"]
  },
  {
   "name": "label3",
   "type": ["string","null"]
  },
  {
   "name": "label1",
   "type": ["string","null"]
  },
  {
   "name": "yaw",
   "type": ["double","null"]
  },
  {
   "name": "cputemp",
   "type": "int"
  },
  {
   "name": "humidity",
   "type": ["double","null"]
  },
  {
   "name": "tempf",
   "type": ["double","null"]
  },
  {
   "name": "z",
   "type": ["double","null"]
  },
  {
   "name": "pressure",
   "type": ["double","null"]
  },
  {
   "name": "ipaddress",
   "type": ["string","null"]
  }
 ]
}</value>
                </entry>
                <entry>
                    <key>PDF</key>
                    <value>{ "type" : "record", "name" : "PDF", "fields" : [ { "name" : "date", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "segmentoriginalfilename", "type" : "string", "doc" : "Type inferred from '\"tensor.pdf\"'" }, { "name" : "CreationDate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "ContentType", "type" : "string", "doc" : "Type inferred from '\"application/pdf\"'" }, { "name" : "xmpMMDerivedFromInstanceID", "type" : "string", "doc" : "Type inferred from '\"xmp.iid:b8062fa1-9619-43b4-a23d-6d4ec9ad3a40\"'" }, { "name" : "fragmentidentifier", "type" : "string", "doc" : "Type inferred from '\"b4679dbf-d140-480e-b48a-8f0dbcf205f4\"'" }, { "name" : "pdfdocinfotrapped", "type" : "string", "doc" : "Type inferred from '\"False\"'" }, { "name" : "language", "type" : "string", "doc" : "Type inferred from '\"en-US\"'" }, { "name" : "accesspermissionextract_content", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "LastSaveDate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "LastModified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "pdfencrypted", "type" : "string", "doc" : "Type inferred from '\"false\"'" }, { "name" : "textlinecount", "type" : "string", "doc" : "Type inferred from '\"1\"'" }, { "name" : "nlporgs", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "sentence1", "type" : "string", "doc" : "Type inferred from '\"INTRODUCTION TO TENSORFLOW \"'" }, { "name" : "modified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "sentence", "type" : "string", "doc" : "Type inferred from '\"INTRODUCTION TO TENSORFLOW \"'" }, { "name" : "metasavedate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "filecreationTime", "type" : "string", "doc" : "Type inferred from '\"2018-01-17T15:52:50-0500\"'" }, { "name" : "accesspermissioncan_print_degraded", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "trapped", "type" : "string", "doc" : "Type inferred from '\"False\"'" }, { "name" : "created", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "xmpMMDerivedFromDocumentID", "type" : "string", "doc" : "Type inferred from '\"xmp.did:b222500d-fbb5-4f9f-be69-aa9d75703268\"'" }, { "name" : "nlpnames", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "accesspermissionassemble_document", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "dctermsmodified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "fragmentsize", "type" : "string", "doc" : "Type inferred from '\"28\"'" }, { "name" : "dclanguage", "type" : "string", "doc" : "Type inferred from '\"en-US\"'" }, { "name" : "pdfPDFVersion", "type" : "string", "doc" : "Type inferred from '\"1.4\"'" }, { "name" : "pdfdocinfocreator_tool", "type" : "string", "doc" : "Type inferred from '\"Adobe InDesign CC 13.0 (Macintosh)\"'" }, { "name" : "origmimetype", "type" : "string", "doc" : "Type inferred from '\"application/pdf\"'" }, { "name" : "producer", "type" : "string", "doc" : "Type inferred from '\"Adobe PDF Library 15.0\"'" }, { "name" : "nlplocations", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "fragmentcount", "type" : "string", "doc" : "Type inferred from '\"463\"'" }, { "name" : "sentiment", "type" : "string", "doc" : "Type inferred from '\"Neutral\"'" }, { "name" : "xmpMMDocumentID", "type" : "string", "doc" : "Type inferred from '\"xmp.id:616a1b69-7fa0-46e1-9867-140371ba2ffb\"'" }, { "name" : "pdfdocinfomodified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "filelastAccessTime", "type" : "string", "doc" : "Type inferred from '\"2019-01-28T12:46:44-0500\"'" }, { "name" : "filesize", "type" : "string", "doc" : "Type inferred from '\"350941\"'" }, { "name" : "xmpCreatorTool", "type" : "string", "doc" : "Type inferred from '\"Adobe InDesign CC 13.0 (Macintosh)\"'" }, { "name" : "accesspermissioncan_modify", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "accesspermissionfill_in_form", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "pdfdocinfoproducer", "type" : "string", "doc" : "Type inferred from '\"Adobe PDF Library 15.0\"'" }, { "name" : "dctermscreated", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "fileowner", "type" : "string", "doc" : "Type inferred from '\"tspann\"'" }, { "name" : "pdfdocinfocreated", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "filepermissions", "type" : "string", "doc" : "Type inferred from '\"rwxrwxrwx\"'" }, { "name" : "fragmentindex", "type" : "string", "doc" : "Type inferred from '\"1\"'" }, { "name" : "accesspermissionmodify_annotations", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "nlpdates", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "accesspermissionextract_for_accessibility", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "dcformat", "type" : "string", "doc" : "Type inferred from '\"application/pdf; version=1.4\"'" }, { "name" : "xmpTPgNPages", "type" : "string", "doc" : "Type inferred from '\"5\"'" }, { "name" : "XParsedBy", "type" : "string", "doc" : "Type inferred from '\"org.apache.tika.parser.DefaultParser, org.apache.tika.parser.pdf.PDFParser\"'" }, { "name" : "absolutepath", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/files/\"'" }, { "name" : "metacreationdate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "filelastModifiedTime", "type" : "string", "doc" : "Type inferred from '\"2018-01-17T15:52:50-0500\"'" }, { "name" : "accesspermissioncan_print", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "filegroup", "type" : "string", "doc" : "Type inferred from '\"staff\"'" }, { "name" : "mimetype", "type" : "string", "doc" : "Type inferred from '\"text/plain\"'" } ] }</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>fd7b1462-1bb4-3a7d-0000-000000000000</id>
            <parentGroupId>36ab0980-6502-3b14-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/Library/Java/Home/jre/lib/security/cacerts</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <processGroups>
            <id>8fe74937-f03f-33fd-0000-000000000000</id>
            <parentGroupId>36ab0980-6502-3b14-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>8fe74937-f03f-33fd-8b51-c1ded3e14d62</versionedComponentId>
            <comments>George V</comments>
            <contents>
                <connections>
                    <id>05fb36b5-f2fc-3151-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>05fb36b5-f2fc-3151-a6f0-ed26d68091ef</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>ee315f3f-4fa9-338f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ee315f3f-4fa9-338f-a804-695a223a5172</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>3feb1999-2a92-3d07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3feb1999-2a92-3d07-aec3-f6888b72d5fd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>12589665-7077-3dcb-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>12589665-7077-3dcb-bd29-a59223d92edf</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>86ca8535-73f7-30ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>86ca8535-73f7-30ec-94ef-28b41a08dad2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>hasViolation</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>ee315f3f-4fa9-338f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ee315f3f-4fa9-338f-a804-695a223a5172</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1742e8ff-640f-3195-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>1742e8ff-640f-3195-81eb-1efbdd8399f9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>3feb1999-2a92-3d07-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3feb1999-2a92-3d07-aec3-f6888b72d5fd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>98a97e06-16fa-3fe7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>98a97e06-16fa-3fe7-b43e-369179d8aa32</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>250c32ae-ef37-3a5f-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>250c32ae-ef37-3a5f-a383-23d71cda91f3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>333bc474-fbcf-3a57-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>333bc474-fbcf-3a57-bfe2-4bdc9227c114</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>fca7884c-4e97-34c2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fca7884c-4e97-34c2-87be-1b1a4b455acd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2c196589-2f0d-3342-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>2c196589-2f0d-3342-8394-38fcacd3defc</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>c5b03e56-04b2-3559-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c5b03e56-04b2-3559-b185-a60565e8f0b1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>fca7884c-4e97-34c2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fca7884c-4e97-34c2-87be-1b1a4b455acd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2da90b5c-7785-39d5-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>2da90b5c-7785-39d5-8377-87198bbc1e88</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>2edbb150-b2d3-35e1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2edbb150-b2d3-35e1-a4f0-c55e807da517</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>504a6e0c-1c76-31d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>504a6e0c-1c76-31d5-8f56-e4fe40c63431</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4d2f2e9c-cd92-3e96-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>4d2f2e9c-cd92-3e96-9631-f8432d3d91ab</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>be2590c6-e80a-3576-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>be2590c6-e80a-3576-86f4-705afbfeffe5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>2edbb150-b2d3-35e1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2edbb150-b2d3-35e1-a4f0-c55e807da517</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6c222bf9-e181-3ff4-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>6c222bf9-e181-3ff4-b628-344551f7cd45</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>43448976-6662-34f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>43448976-6662-34f8-b8de-18b41168c09a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>740330a9-cfc6-3d71-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>740330a9-cfc6-3d71-967a-8ca3587bf75f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a50bd26a-232a-314b-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>a50bd26a-232a-314b-a79d-891c661a2e96</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>98a97e06-16fa-3fe7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>98a97e06-16fa-3fe7-b43e-369179d8aa32</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>be2590c6-e80a-3576-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>be2590c6-e80a-3576-86f4-705afbfeffe5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a9a6ae03-237e-3c65-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>a9a6ae03-237e-3c65-bb88-d562bab08771</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>43448976-6662-34f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>43448976-6662-34f8-b8de-18b41168c09a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>38b80939-75de-3d7a-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>38b80939-75de-3d7a-b15e-e92c3059dc3e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ab92a8e0-c196-3015-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>ab92a8e0-c196-3015-b5d1-ca197f621c67</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1142.6647027752906</x>
                        <y>3550.289297739416</y>
                    </bends>
                    <bends>
                        <x>1142.6647027752906</x>
                        <y>3600.289297739416</y>
                    </bends>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>c5b03e56-04b2-3559-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c5b03e56-04b2-3559-b185-a60565e8f0b1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>c5b03e56-04b2-3559-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c5b03e56-04b2-3559-b185-a60565e8f0b1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c9bd9df9-0eba-35de-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>c9bd9df9-0eba-35de-9477-fe604d2695a0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>f6ff34b0-9d17-3561-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f6ff34b0-9d17-3561-a1c9-4e1b2fccf9df</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>ee315f3f-4fa9-338f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ee315f3f-4fa9-338f-a804-695a223a5172</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d6223fbe-8043-3d61-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>d6223fbe-8043-3d61-9e0e-89d91744881b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>120000</backPressureObjectThreshold>
                    <bends>
                        <x>1333.9036419892668</x>
                        <y>1903.49891453584</y>
                    </bends>
                    <bends>
                        <x>1333.9036419892668</x>
                        <y>1953.49891453584</y>
                    </bends>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>98a97e06-16fa-3fe7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>98a97e06-16fa-3fe7-b43e-369179d8aa32</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>98a97e06-16fa-3fe7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>98a97e06-16fa-3fe7-b43e-369179d8aa32</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f2f4f613-32bd-3079-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>f2f4f613-32bd-3079-9b3c-287320ecd5a8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>504a6e0c-1c76-31d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>504a6e0c-1c76-31d5-8f56-e4fe40c63431</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8fe74937-f03f-33fd-0000-000000000000</groupId>
                        <id>43448976-6662-34f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>43448976-6662-34f8-b8de-18b41168c09a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>4745865b-ff0a-3312-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <versionedComponentId>4745865b-ff0a-3312-90c1-17c6ab877975</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>hwx-schema-ref-attributes</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <inputPorts>
                    <id>38b80939-75de-3d7a-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>923.5958980267578</x>
                        <y>1041.5046690168704</y>
                    </position>
                    <versionedComponentId>38b80939-75de-3d7a-b15e-e92c3059dc3e</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Input</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>2edbb150-b2d3-35e1-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>873.1620648408293</x>
                        <y>1491.84461766084</y>
                    </position>
                    <versionedComponentId>2edbb150-b2d3-35e1-a4f0-c55e807da517</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>accessKey</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>333bc474-fbcf-3a57-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1486.0335172053005</x>
                        <y>3572.3149564675628</y>
                    </position>
                    <versionedComponentId>333bc474-fbcf-3a57-bfe2-4bdc9227c114</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>3feb1999-2a92-3d07-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>874.014892578125</x>
                        <y>2073.173419550524</y>
                    </position>
                    <versionedComponentId>3feb1999-2a92-3d07-aec3-f6888b72d5fd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>violation</key>
<value>
    <name>violation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>violation</key>
<value>$.response.violation</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract Violation</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>43448976-6662-34f8-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>869.1356727871535</x>
                        <y>1136.1811414169492</y>
                    </position>
                    <versionedComponentId>43448976-6662-34f8-b8de-18b41168c09a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>content.type</key>
<value>
    <name>content.type</name>
</value>
                            </entry>
                            <entry>
<key>content-type</key>
<value>
    <name>content-type</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                            <entry>
<key>url</key>
<value>
    <name>url</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>content.type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>content-type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>url</key>
<value>https://raw.githubusercontent.com/tspannhw/images/master/img2594.jpg</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Build Parameters</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>504a6e0c-1c76-31d5-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>873.0602582002043</x>
                        <y>1318.150037582715</y>
                    </position>
                    <versionedComponentId>504a6e0c-1c76-31d5-8f56-e4fe40c63431</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>
    <name>accessKey</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>{"accessKey":"mie56x4zmq5p0k1t63w77oan68tb5v3r","request":{"driver_certification":"1","driver_wageplan":"0","fatigue_by_hours":"0","fatigue_by_miles":"1000","foggy_weather":"1","rainy_weather":"1","windy_weather":"1"}}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Build Call</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>740330a9-cfc6-3d71-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1448.6121515057594</x>
                        <y>948.2535978950555</y>
                    </position>
                    <versionedComponentId>740330a9-cfc6-3d71-967a-8ca3587bf75f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>b71708a0-ca0c-4510-bb49-d4e58e5ff567</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>300 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Integration Test</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>86ca8535-73f7-30ec-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>705.1173394940406</x>
                        <y>2709.770929972082</y>
                    </position>
                    <versionedComponentId>86ca8535-73f7-30ec-94ef-28b41a08dad2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-slack-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>webhook-url</key>
<value>
    <name>webhook-url</name>
</value>
                            </entry>
                            <entry>
<key>webhook-text</key>
<value>
    <name>webhook-text</name>
</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>
    <name>channel</name>
</value>
                            </entry>
                            <entry>
<key>username</key>
<value>
    <name>username</name>
</value>
                            </entry>
                            <entry>
<key>icon-url</key>
<value>
    <name>icon-url</name>
</value>
                            </entry>
                            <entry>
<key>icon-emoji</key>
<value>
    <name>icon-emoji</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>webhook-url</key>
                            </entry>
                            <entry>
<key>webhook-text</key>
                            </entry>
                            <entry>
<key>channel</key>
                            </entry>
                            <entry>
<key>username</key>
                            </entry>
                            <entry>
<key>icon-url</key>
                            </entry>
                            <entry>
<key>icon-emoji</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSlack</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.slack.PutSlack</type>
                </processors>
                <processors>
                    <id>98a97e06-16fa-3fe7-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>870.9036419892668</x>
                        <y>1863.49891453584</y>
                    </position>
                    <versionedComponentId>98a97e06-16fa-3fe7-b43e-369179d8aa32</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://cdsw-demo.sjc.cloudera.com/api/altus-ds-1/models/call-model</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>fd7b1462-1bb4-3a7d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>360 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>360 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>4096</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>15 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Call Cloudera Data Science Workbench</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>be2590c6-e80a-3576-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>873.7072308564543</x>
                        <y>1679.665174301465</y>
                    </position>
                    <versionedComponentId>be2590c6-e80a-3576-86f4-705afbfeffe5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>
    <name>accessKey</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>accessKey</key>
<value>$.accessKey</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c5b03e56-04b2-3559-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>679.6647027752906</x>
                        <y>3510.289297739416</y>
                    </position>
                    <versionedComponentId>c5b03e56-04b2-3559-b185-a60565e8f0b1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-parquet-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>compression-type</key>
<value>
    <name>compression-type</name>
</value>
                            </entry>
                            <entry>
<key>overwrite</key>
<value>
    <name>overwrite</name>
</value>
                            </entry>
                            <entry>
<key>permissions-umask</key>
<value>
    <name>permissions-umask</name>
</value>
                            </entry>
                            <entry>
<key>remote-group</key>
<value>
    <name>remote-group</name>
</value>
                            </entry>
                            <entry>
<key>remote-owner</key>
<value>
    <name>remote-owner</name>
</value>
                            </entry>
                            <entry>
<key>row-group-size</key>
<value>
    <name>row-group-size</name>
</value>
                            </entry>
                            <entry>
<key>page-size</key>
<value>
    <name>page-size</name>
</value>
                            </entry>
                            <entry>
<key>dictionary-page-size</key>
<value>
    <name>dictionary-page-size</name>
</value>
                            </entry>
                            <entry>
<key>max-padding-size</key>
<value>
    <name>max-padding-size</name>
</value>
                            </entry>
                            <entry>
<key>enable-dictionary-encoding</key>
<value>
    <name>enable-dictionary-encoding</name>
</value>
                            </entry>
                            <entry>
<key>enable-validation</key>
<value>
    <name>enable-validation</name>
</value>
                            </entry>
                            <entry>
<key>writer-version</key>
<value>
    <name>writer-version</name>
</value>
                            </entry>
                            <entry>
<key>remove-crc-files</key>
<value>
    <name>remove-crc-files</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/Volumes/TSPANN/conf/core-site.xml,/Volumes/TSPANN/conf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>9aeb94b4-d5e4-39ab-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/tmp/gluon</value>
                            </entry>
                            <entry>
<key>compression-type</key>
<value>UNCOMPRESSED</value>
                            </entry>
                            <entry>
<key>overwrite</key>
<value>true</value>
                            </entry>
                            <entry>
<key>permissions-umask</key>
                            </entry>
                            <entry>
<key>remote-group</key>
                            </entry>
                            <entry>
<key>remote-owner</key>
                            </entry>
                            <entry>
<key>row-group-size</key>
                            </entry>
                            <entry>
<key>page-size</key>
                            </entry>
                            <entry>
<key>dictionary-page-size</key>
                            </entry>
                            <entry>
<key>max-padding-size</key>
                            </entry>
                            <entry>
<key>enable-dictionary-encoding</key>
                            </entry>
                            <entry>
<key>enable-validation</key>
                            </entry>
                            <entry>
<key>writer-version</key>
                            </entry>
                            <entry>
<key>remove-crc-files</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>100 ms</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutParquet</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.parquet.PutParquet</type>
                </processors>
                <processors>
                    <id>ee315f3f-4fa9-338f-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>889.1173394940406</x>
                        <y>2336.770929972082</y>
                    </position>
                    <versionedComponentId>ee315f3f-4fa9-338f-a804-695a223a5172</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>hasViolation</key>
<value>
    <name>hasViolation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>hasViolation</key>
<value>${violation:equals(1)}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Due We Have a Violation?</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>hasViolation</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>f6ff34b0-9d17-3561-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1142.1173394940406</x>
                        <y>2720.770929972082</y>
                    </position>
                    <versionedComponentId>f6ff34b0-9d17-3561-a1c9-4e1b2fccf9df</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>fca7884c-4e97-34c2-0000-000000000000</id>
                    <parentGroupId>8fe74937-f03f-33fd-0000-000000000000</parentGroupId>
                    <position>
                        <x>972.3786770463348</x>
                        <y>3344.0356956788996</y>
                    </position>
                    <versionedComponentId>fca7884c-4e97-34c2-87be-1b1a4b455acd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>query</key>
<value>
    <name>query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>01263c6d-3c11-35eb-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>4745865b-ff0a-3312-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>false</value>
                            </entry>
                            <entry>
<key>query</key>
<value>SELECT * FROM FLOWFILE 
WHERE class1 = 'cat' OR class1 = 'person'</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>QueryRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
            </contents>
            <name>CDSW Model for DSWB</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/08/2019 10:21:51 EST</timestamp>
</template>
